<a href="https://colab.research.google.com/github/TU24007/EU_M_Math/blob/main/Chpa06_Ex01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import numpy,random as random
import scipy as sp
import pandas as pd
from pandas import Series,DataFrame
import math
from numpy import nan as NA

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()
%matplotlib inline

%precision 3

In [ ]:
#6-1
hier_df1=DataFrame(
    np.arange(12).reshape((3,4)),
    index=[['c','d','d'],[1,2,1]],
    columns=[
        ['Kyoto','Nagoya','Hokkaido','Kyoto'],
        ['Yellow','Yellow','Red','Blue']
    ]
)

hier_df1.index.names=['key1', 'key2']
hier_df1.columns.names=['city','color']
hier_df1

In [ ]:
#6-2
hier_df1.groupby(level='city', axis=1).mean()

In [ ]:
#6-3
hier_df1.groupby(level='key2', axis=0).sum()

In [ ]:
#6-4
data4={
    'id':['0','1','2','3','4','6','8','11','12','13'],
    'city':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo','Tokyo','Osaka','Kyoto','Hokkaido','Tokyo'],
    'birth_year':[1990,1989,1992,1997,1982,1991,1988,1990,1995,1981],
    'name':['Hiroshi','Akiko','Yuki','Satoru','Steeve','Mituru','Aoi','Tarou','Suguru','Mitsuo']
}
df4=DataFrame(data4)
df4

In [ ]:
#6-4
data5={
    'id':['0','1','3','6','8'],
    'math':[20,30,50,70,90],
    'english':[30,50,50,70,20],
    'sex':['M','F','F','M','M'],
    'index_num':[0,1,2,3,4]
}
df5=DataFrame(data5)
df5

In [ ]:
#6-4
pd.merge(df4,df5,on='id')

In [ ]:
#6-5
pd.merge(df4,df5,how='outer')

In [ ]:
#6-6
data6={
    'id':['70','80','90','120','150'],
    'city':['Chiba','Kanagawa','Tokyo','Fukuoka','Okinawa'],
    'birth_year':[1980,1999,1995,1994,1994],
    'name':['Suguru','Kouichi','Satochi','Yukie','Akari']
}
df6=DataFrame(data6)
df6

In [ ]:
#6-6
concat_data1=pd.concat([df4,df6])
concat_data1

In [ ]:
#6-7
import requests,zipfile
from io import StringIO
import io

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00356/student.zip'

r=requests.get(url,stream=True)

z=zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
student_data_math=pd.read_csv('student-mat.csv')

In [ ]:
student_data_math = pd.read_csv('student-mat.csv',sep=';')

In [ ]:
student_data_math

In [ ]:
student_data_math.stack()

In [ ]:
#6-8
absences_bins=[0,1,5,100]
student_data_math_cut=pd.cut(student_data_math.absences,absences_bins)
student_data_math_cut

In [ ]:
#6-9
pd.value_counts(pd.qcut(student_data_math.absences,3))

In [ ]:
#6-10
student_data_math.groupby('school').size()

In [ ]:
student_data_math.groupby('school')['G1'].mean()

In [ ]:
#6-11
student_data_math.groupby(['school','sex'])['G1'].mean()

In [ ]:
student_data_math.groupby(['school','sex'])['G2'].mean()

In [ ]:
student_data_math.groupby(['school','sex'])['G3'].mean()

In [ ]:
#6-12
functions=['max','min']
student_math_data2=student_data_math.groupby(['school','sex'])
rist=student_math_data2[['G1','G2','G3']].agg(functions)
rist

In [ ]:
df=pd.DataFrame(np.random.rand(15,6))

df.iloc[2,0]=NA
df.iloc[5:8,2]=NA
df.iloc[7:9,3]=NA
df.iloc[10,5]=NA

In [ ]:
#6-13
df.dropna()

In [ ]:
#6-14
df.fillna(0)

In [ ]:
#6-15
df.fillna(df.mean())

In [ ]:
df.mean()

In [ ]:
#6-16
import pandas_datareader.data as pdr
start_data='2001/1/2'
end_data='2016/12/30'

fx_jpusdata=pdr.DataReader('DEXJPUS', 'fred', start_data, end_data)
fx_jpusdata.resample('Y').mean().head()

In [ ]:
#6-17
fx_jpusdata_rolling20=fx_jpusdata.rolling(20).mean().dropna()
fx_jpusdata_rolling20.head()